body {
    padding: 0;
    background-color: #f7ecde;
}





.gae {
    background: linear-gradient(to right blue, green) !;

    background-clip: text;

    background-color: transparent;
}

header h1 {
    transition: all 0.5s;
    position: relative;
}


header h1:hover {
    background-color: yellow;
    height: 50px;
}

h1 {
    background-image: linear-gradient(to right,  #fffc00 , rgb(251, 1, 1));
    background-clip: text;
    color: transparent;

}